
:root {
  --container-width: 1760px;
  --container-padding: 32px;
  
  --text-primary: #272e35;
  --text-secondary: #555f6d;
  --text-light: #7e8c9a;
  --text-white: #fff;
  --stroke-grey: #dedede;
  --content-red: #bc4d4d;
  --background-grey: #ededed;
  --background-orange: #fff1db;

  --sidebar-width: 200px;

  --font-family: "Inter", sans-serif;

}
