@use 'fonts/fonts';
@use './variables';
@import './normalize.css';


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color-primary);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}
